
<!DOCTYPE ejs>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<meta charset="utf-8"><meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/guestbook.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="vineeth.js"></script>
</head>
<body class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand"><span class="heads">Vineeth Gajula</span></p>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li ><a class="active" href="http://127.0.0.1:8081/Vineeth.html"><span class="heads">Home</span></a></li> 
      <li><a  href="http://127.0.0.1:8081/Fun.html"><span class="heads">Quiz</span></a></li>
      <li><a href="http://127.0.0.1:8081/Contact.html"><span class="heads">Contact</span> </a></li>
      <li><a href="http://127.0.0.1:8081/views/index.ejs"><span class="heads">Guest Book</span> </a></li>  
    </ul>     
    </div>
  </div>
</nav>
<br>
<br><br><br><br>
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
